@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
  /* COLORS */
  --midnightGreen: #014e56;
  --lightCoral: #f67e7e;
  --white: #ffffff;
  --raptureBlue: #79c8c7;
  --policeBlue: #2c6269;
  --jungleGreen: #004047;
  --sacramentoGreen: #012f34;
  --darkGreen: #002529;
  --robinBlue: #c4fffe;

  /* TEXT */
  --font: 'Livvic', sans-serif;
}

body {
  font-family: var(--font);
  position: relative;
  color: var(--white);
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.sacramento { background: var(--sacramentoGreen);}
.jungle { background: var(--jungleGreen);}
.lightCoral { background: var(--lightCoral);  transition: background 0.5s ease;;}
.robin { background: var(--robinBlue);  transition: background 0.5s ease;;}
.pink-width {     max-width: 1150px !important;}

.layout-wrapper { background: var(--midnightGreen); overflow: hidden;}
.gen-wrapper { max-width: 1300px; padding-right: 50px; padding-left: 50px; margin: 0 auto;}

.style-append { width: 50px; border-top: 3px solid var(--raptureBlue);}
.style-append-2 { width: 50px; border-top: 3px solid var(--lightCoral);}

.accent { color: var(--lightCoral);}
.accent-2 { color: var(--raptureBlue)}

/* Navbar */
.contact-us { border:2px solid var(--white); padding: 7px 28px; border-radius: 30px; font-weight: 400;}


/* Hero */
.hero-heading {font-size: 100px;line-height: 100px; font-weight: 800; font-family: var(--font);}
.hero-description { font-size: 18px; max-width: 460px;}

/* pagea-rt */
.page-art { position: absolute; top:224px; left:-106px;}
.page-art-2 { position: absolute; bottom:0; right:0;}
.page-art-3 { position: absolute; bottom:0; right:-106px;}
.page-art-4 { position: absolute; top:0; left:0;}
.page-art-5{ position: absolute; bottom:0; right:0;}
.page-art-6{ position: absolute; bottom:0; left:0;}

.page-art-about { position: absolute; right: -106px; bottom: 0;}
.page-art-about-2 { position: absolute; left: -106px; top: 0;}
.page-art-about-3 { position: absolute; right: 0; bottom: 0;}
.page-art-about-4 { position: absolute; left: 0; top: 0;}
.quotes-art { margin: 0 auto -20px auto; }


/* PART ONE */
.part-one-header { font-size: 48px; max-width: 450px; line-height: 53px; font-weight: 600;}
.line-card { display: grid; grid-template-columns: 20% 80%; margin-top: 40px;}
.line-card-wrapper { max-width: 570px;}
.feature-heading { color: var(--lightCoral); font-size: 18px; margin-bottom: 20px; font-weight: bold;}


/* PART TWO */
.testimonial-container { max-width: 330px; text-align: center;}
.testimonial > p { font-size: 15px; padding-bottom: 16px;}
.testimonial > h1 { font-size: 16px; text-align: center; color: var(--raptureBlue); font-weight: bold;}
.testimonial > h2 { font-size: 13px; text-align: center; padding: 0px 0 18px 0; font-style: italic;}
.testimonial > img { margin: 0 auto; max-width: 62px; height: auto; border-radius: 50%; border:2px solid #fff;}
.testimonial-heading { width: 100%;}
.testimonial-heading > h1 { font-size: 48px; text-align: center; font-weight: bold; max-width: 1110px; line-height: 53px;}


/* Get Started */
.contact-us-2 { border:2px solid var(--sacramentoGreen); padding: 7px 28px; border-radius: 30px; font-size: 22x; font-weight: 600; color: var(--sacramentoGreen);}
.get-started { color: var(--sacramentoGreen); font-size: 48px; font-weight: bold; }

.toggle-side { display: none; z-index: 9;}
/* Hamburger */
.hamburger .line{
  width: 40px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 9px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}


#hamburger-9{
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-9:before{
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 5px solid transparent;
  top: calc(60% - 35px);
  left: calc(63% - 35px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active:before{
  border: 2px solid #ecf0f1;
}

#hamburger-9.is-active .line{
  width: 35px;
}

#hamburger-9.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-9.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-9.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}


.mobile-nav {
  background: var(--darkGreen);
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  margin: 0 auto;
  line-height: 40px;
  display: none;
}


/* footer */
.order-1 { max-width: 460px; }
.order-2 {max-width: 163px; font-size: 15px; color: var(--robinBlue); opacity: 0.7; line-height: 24px;}

.footer-style { display: grid; grid-template-columns: repeat(4, 1fr);}
.order-1 { grid-column: span 2 / span 4; }
.order-3 { grid-column: span 2 / span 4; text-align: right;}



/* ABOUT */
.about-heading {font-size: 64px; font-weight: bold; }
.about-description { font-size: 18px; max-width: 740px;}

.dir-wrapper { display: grid; grid-template-columns: repeat(3, 1fr); gap: 60px;}
.single-director-wrapper { background: var(--sacramentoGreen); max-width: 100%; height: 253px; text-align: center; padding: 26px 30px 0px 30px; position: relative;}
.single-director > img { border:2px solid #fff; border-radius: 50%; width: 100px; margin: 0 auto;}
.single-director > h1 { font-size: 18px; color: var(--raptureBlue); padding-top: 10px; padding-bottom: 3px; font-weight: revert; }
.single-director > h2 { font-size: 15px; font-style: italic;}

.dir-toggle { position: absolute; bottom: 0; padding: 16px; border-radius: 40px; width: fit-content; cursor: pointer; text-align: center; right: 50%; transform: translate(50%, 46%);}

.dir-quote > h1 { font-size: 18px; color: var(--raptureBlue); padding-bottom: 10px; padding-top: 5px;  font-weight: revert; }
.dir-quote > p { font-size: 15px;}

.rotate-dir { transform: rotate(45deg); transition: 0.4s;}
.undo-rotate { transition: 0.4s;}

.sponsors > img { max-width: 190px; max-height: 45px;}









/* Media Queries */

/* @media screen and (max-width: 1400px) {
  
} */


@media screen and (max-width: 1400px) {
  .page-art { display: none;}
  .hero-heading {
    font-size: 84px;
    line-height: 89px; }
}


@media screen and (max-width: 1280px) {   
  .hide-append-2 { display: none !important;} 
  .about-description { margin: 0 65px; max-width: 670px;}
}


@media screen and (max-width: 1200px) {
  .hero-heading { font-size: 64px; line-height: 69px; }
 .hero-description { font-size: 16px;}
 .part-one-header { font-size: 40px; line-height: 45px;}
 .page-art-3 { position: absolute; top:0; right:-106px;}
 .pink-width { max-width: 900px !important;}

}


@media screen and (max-width: 1024px) {
  .logo-adjust { width: 140px !important;}
  .style-append { display: none;}
  .page-art-2 { position: relative; margin: 0 auto;}
  .part-one-header { max-width: 557px;}

  .testimonial-container {  max-width: 530px; margin-bottom: 30px;}
  .testimonial-heading { display: flex; align-items: center; justify-content: center;}
  .testimonial-heading > h1 {  font-size: 39px; max-width: 562px; line-height: 43px;}
  .get-started { font-size: 39px; }




  .footer-style { display: grid; grid-template-columns: repeat(2, 1fr);}
  .order-1 { grid-column: span 2 / span 2; }
  .order-2 { text-align: right;}
  .order-3 { grid-column: span 2 / span 2; text-align: left;}
  .order-1 { max-width: 100%; }
}


@media screen and (max-width: 991px) {
  .dir-wrapper { grid-template-columns: repeat(2, 1fr); gap: 60px 20px;}
}

@media screen and (max-width: 700px) {
  .part-one-header { max-width: 271px; font-size: 36px; line-height: 40px;}
}

@media screen and (max-width: 640px) {
  .mobile-nav { display: block;}
  .hide-mobile { display: none; }
  .toggle-side { display: block;}
  .gen-wrapper { padding-right: 30px; padding-left: 30px; }
  .order-2 { text-align: center; margin-top: 20px;}
  .order-4 { text-align: center; font-size: 13px;}

  .page-art-about { bottom: -90px;}
  .page-art-about-2 { top:-101px }
  .about-description { margin: 0 0; }

  .footer-style { text-align: center;}
}


@media screen and (max-width: 500px) {
  .line-card { display: grid; grid-template-columns: 100%; text-align: center; margin-top: 40px;}
  .line-card > div:nth-of-type(1) > img { margin: 0 auto; margin-bottom: 16px;}
  .feature-heading { font-size: 16px; margin-bottom: 10px; }
  .feature-description { font-size: 14px;}

  .testimonial-heading > h1 { font-size: 36px; line-height: 38px;}
  .pink-width { max-width: 300px !important; text-align: center; line-height: 47px;}
  .contact-us-2 { padding: 0px 28px;}
  .hero-heading { font-size: 49px; line-height: 63px;}

  .dir-wrapper { display: grid; grid-template-columns: 1fr; gap: 60px 0;}
}

@media screen and (max-width: 375px) {
  .hero-heading {
    font-size: 32px;
    line-height: 43px;
}
}