@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
  /* COLORS */
  --midnightGreen: #014e56;
  --lightCoral: #f67e7e;
  --white: #ffffff;
  --raptureBlue: #79c8c7;
  --policeBlue: #2c6269;
  --jungleGreen: #004047;
  --sacramentoGreen: #012f34;
  --darkGreen: #002529;
  --robinBlue: #c4fffe;

  /* TEXT */
  --font: 'Livvic', sans-serif;
}

body {
  font-family: var(--font);
  position: relative;
  color: var(--white);
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
  border:2px solid yellow;
}

.sacramento { background: var(--sacramentoGreen);}
.lightCoral { background: var(--lightCoral);}
.pink-width {     max-width: 1150px !important;}

.layout-wrapper { background: var(--midnightGreen); overflow: hidden;}
.gen-wrapper { max-width: 1300px; padding-right: 50px; padding-left: 50px; margin: 0 auto;}

.style-append { width: 50px; border-top: 3px solid var(--raptureBlue);}
.style-append-2 { width: 50px; border-top: 3px solid var(--lightCoral);}

.accent { color: var(--lightCoral);}
.accent-2 { color: var(--raptureBlue)}

/* Navbar */
.contact-us { border:2px solid var(--white); padding: 7px 28px; border-radius: 30px; font-weight: 400;}

/* Hero */


.hero-heading {font-size: 100px;line-height: 100px; font-weight: 800; font-family: var(--font);}
.hero-description { font-size: 18px; max-width: 460px;}

/* pagea-rt */
.page-art { position: absolute; top:224px; left:-106px;}
.page-art-2 { position: absolute; bottom:0; right:0;}
.page-art-3 { position: absolute; bottom:0; right:-106px;}
.page-art-4 { position: absolute; top:0; left:0;}
.page-art-5{ position: absolute; bottom:0; right:0;}
.page-art-6{ position: absolute; bottom:0; left:0;}
.quotes-art { margin: 0 auto -20px auto; }


/* PART ONE */
.part-one-header { font-size: 48px; max-width: 450px; line-height: 53px; font-weight: 600;}
.line-card { display: grid; grid-template-columns: 20% 80%; margin-top: 40px;}
.line-card-wrapper { max-width: 570px;}
.feature-heading { color: var(--lightCoral); font-size: 18px; margin-bottom: 20px; font-weight: bold;}


/* PART TWO */
.testimonial-container { max-width: 330px; text-align: center;}
.testimonial > p { font-size: 15px; padding-bottom: 16px;}
.testimonial > h1 { font-size: 16px; text-align: center; color: var(--raptureBlue); font-weight: bold;}
.testimonial > h2 { font-size: 13px; text-align: center; padding: 0px 0 18px 0; font-style: italic;}
.testimonial > img { margin: 0 auto; max-width: 62px; height: auto; border-radius: 50%; border:2px solid #fff;}
.testimonial-heading { width: 100%;}
.testimonial-heading > h1 { font-size: 48px; text-align: center; max-width: 1110px; line-height: 53px;}


/* Get Started */
.contact-us-2 { border:2px solid var(--sacramentoGreen); padding: 7px 28px; border-radius: 30px; font-size: 22x; font-weight: 600; color: var(--sacramentoGreen);}
.get-started { color: var(--sacramentoGreen); font-size: 48px; font-weight: bold; }



/* footer */
.order-1 { max-width: 160px; }
.order-2 {max-width: 163px; font-size: 15px; color: var(--robinBlue); line-height: 24px;}

.footer-style { display: grid; grid-template-columns: repeat(4, 1fr);}
.order-3 { grid-column: span 2 / span 4; text-align: right;}
